{% extends 'shop/dummy.html' %} {% block title %}
<title>Password Change</title>
{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Change Password</h2>
            <hr>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="op">Old Password</label>
                <input type="password" name="op" id="op" class="form-control"><br>
                <label for="np">New Password</label>
                <input type="password" name="np" id="np" class="form-control"><br>
                <input type="submit" value="Change" class="btn btn-info mb-3">
            </form>
        </div>
    </div>
</div>
{% endblock %}