{% extends 'shop/dummy.html' %} {% block title %}
<title>User Profile</title>
{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            {% include 'inc/message.html' %}
            <h3 class="mb-3">User Profile</h3>
            <hr>
        </div>
        <div class="col-6 mb-4">
            <div class="card">
                <img src="{{po.profile_pic.url}}" class="card-img-top" alt="..." style="width: 250px; height: 200px;">
                <hr>
                <div class="card-body">
                    <h2 class="card-title">Name: {{uo.name}}</h2>
                    <h2 class="card-title">Email: {{uo.email}}</h2>
                </div>
                <h4>Change Password <a href="{% url 'change_password' %}">Click Here</a></h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}