<footer class="text-center bg-dark text-white">
    <section class="container-fluid p-4">
        <div class="me-5">
            <h3>Connect With Us</h3>
        </div>
        <div>
            <a href="" class="mx-4 text-danger"><i class="icon fa-brands fa-google"></i></a>
            <a href="" class="mx-4 text-danger"><i class="icon fa-brands fa-facebook"></i></a>
            <a href="" class="mx-4 text-danger"><i class="icon fa-brands fa-instagram"></i></a>
            <a href="" class="mx-4 text-danger"><i class="icon fa-brands fa-twitter"></i></a>
            <a href="" class="mx-4 text-danger"><i class="icon fa-brands fa-linkedin"></i></a>
            <a href="" class="mx-4 text-danger"><i class="icon fa-brands fa-github"></i></a>
        </div>
    </section>

    <section class="text-center p-4">
        <h4>&copy; 2023 Copyright <a href="" class="fw-bold text-reset">onlineshop.com</a></h4>
    </section>
</footer>